*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Norse Bold';
    src: url(./Norse-Bold.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    display: flex;
    justify-content: center;
    background-color: #797979;
}

.container {
    height: 100vh;
    width: 90vw;
    background-image: url(./images/black-bricks-background.jpg);
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: calc(100%*2/5);
    height: 100%;
    color: aliceblue;
}

p {
    padding-bottom: 20px;
}

a {
    color: rgb(250, 255, 255);
    text-decoration: none;
}

a:hover {
    color: aquamarine;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Norse Bold', serif;
    font-size: 5em;
    color: white;
    letter-spacing: 0.2rem;
    background-color: rgb(0, 0, 0, 45%);
    width: 100%;
    margin-top: calc(100%*2/5);
}

.logo img {
    width: 60px;
    padding-right: 10px;
}

.right {
    display: flex;
    flex-direction: column;
    width: calc(100%*3/5);
    height: 100%;
    background-color: white;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: calc(100%/3);
    padding: 0.8em;
    font-size: 1.5em;
    font-weight: 500;
}

legend {
    padding-top: 2rem;
    padding-left: 2rem;
    font-size: 2rem;
}

fieldset {
    border: none;
}

.input-field {
    box-shadow: 0px 0px 10px 0px black;
}
.element {
    display: flex;
    flex-direction: column;
    letter-spacing: 0.1rem;
    padding: 1rem 1rem 1rem 1rem;
    width: fit-content;
}

.split {
    display: flex;
}

label {
    font-size: 0.7rem;
    padding-left: 1rem;
    padding-bottom: 0.1rem;
}

input {
    width: 15rem;
    border-radius: 5px;
    border: 0.1rem solid black;
}

input:default{
    border: 0.1rem solid black;
    background-color: aqua;
}

input:valid {
    border: 0.1rem solid green;
}

input:invalid {
    border: 0.1rem solid #db1414;
}

.button {
    margin: 1.4rem;
    margin-left: 1.7rem;
    font-size: 2rem;
    border-radius: 0.4rem;
    border: none;
    color: white;
    padding: 0.3rem;
    background-color: #797979;
    box-shadow: 0.1rem 0.2rem 0.1rem 0.1rem #1e1e1e;
}

.button::after{
    background-color: #008000;
    box-shadow: none;
}